# Output directories

target/
!**/src/main/**/target/
!**/src/test/**/target/
out/
!**/src/main/**/out/
!**/src/test/**/out/
build/
!**/src/main/**/build/
!**/src/test/**/build/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar

# Spring
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Kotlin
kls_database.db

### IDEs

# VS Code
.vscode/

# IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
